:root {
  /* Colors */
  --white-color: #fff;
  --orange-color: #f8bc28;
  --grey-color: #767676;
  --dark-color: #1e1e1e;
  --social-color: #303030;
  --text-grey-color: #a4a4a4;
  --circle-active: #fdc21e;

  /* Backgrounds */
  --proindustry-bg: url("../../assets/images/bg/proindustry.jpg");

  /* Size */
  --upper: uppercase;
  --circle-size: 8;
  --hexagon-width: 300px;
  --hexagon-height: 175px;
  --hexagon-border: calc(var(--hexagon-width) / 2);
  --hexagox-row-padding: 88px;

  /* Animation */
  --tran: 0.5s;
}

html {
  font-size: 10px;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white-color)
}

a:visited {
  color: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 1180px;
  padding: 0 3rem;
  margin: 0 auto;
}

.current-title, .current-description {
  text-transform: var(--upper);
}

.current-title {
  font-size: 3.4em;
  font-weight: 500;
  letter-spacing: 1.7px;
  margin-left: -9px;
}

.current-description {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--dark-color);
  letter-spacing: 1px;
}